CompileFlags:
  CompilationDatabase: build/debug # Relative path to your compile_commands.json
  Add: []

Diagnostics:
  ClangTidy:
    Add: [modernize-*, readability-*, performance-*]
    Remove:
      [
        cppcoreguidelines-avoid-magic-numbers,
        modernize-use-trailing-return-type,
        readability-identifier-length,
        performance-enum-size,
        readability-redundant-access-specifiers,
        readability-math-missing-parentheses,
        readability-magic-numbers,
        readability-uppercase-literal-suffix,
        performance-no-int-to-ptr,
        readability-function-cognitive-complexity,
      ]
    CheckOptions:
      readability-magic-numbers.IgnoredValues: "0,1,2,255"
  UnusedIncludes: Strict

Style:
  AngledHeaders: ["std*"]

Completion:
  AllScopes: Yes
  ArgumentLists: Delimiters
  HeaderInsertion: Never
  CodePatterns: All

Index:
  Background: Build
  StandardLibrary: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: false
  BlockEnd: true
  DefaultArguments: true

Hover:
  ShowAKA: true
# Documentation:
#   CommentFormat: Doxygen
